div h1{
    height: 50px;
    width: 200px;
    background-color: aqua;
    border: solid green 12px;
}
/* --------------BORDER------------ */
h2{
    border-width: 2px;
    border-radius: 12px;
    border-color: aqua;
    border-style: dashed;
    width: 200px;

}
/* ------------BORDER SIDES--------- */
h3{
    width: 200px;
    border-top-left-radius: 12px;
    writing-mode: vertical-lr;
    border-top: 2px solid green;
    border-left: 2px dotted grey;
    border-right: 2px dashed purple;
    border-bottom: 2px solid blue;
    border-collapse: separate;
}
h4{
    border-image: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) 60;
    border-width: 20px;
    /* border-image-outset: 15px; */
}
p{
    padding: 40px;
    border-width: 20px;
    border-image-outset: 15px;
}